/target/
/.settings/*
/.classpath
/.project
/.yjl.iml
/.idea/*
/.idea/workspace.xml
.idea/workspace.xml.idea
yjl.iml
/bin/
*.iml
yjl-common/target/
yjl-manager/target/
yjl-parent/target/
yjl-parent/.idea/
yjl-service/target/
yjl-web/target/